# node.js dependency packages - takes too long to send dependencies to Docker daemon
node_modules

# docs are not needed in the image
docs

# API files are served from build/ so ignore source
api

# client side source is compiled into /dist
src

# dotenv environment variables file
.env
