.matrix-container {
  padding-top: 30px;
  max-width: 1000px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-left: 5px;
  padding-right: 0;
}

#startIntroBtn{
  margin-bottom: 20px;
}

.label-horizontal {
  padding-left: -1vw;
  padding-bottom: 10px;
}

.label-vertical {
  right: 25px;
  margin-left: 20px;
}

.label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.7vw;
  color: #584E4A;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  width: 80%;
}

.label:before,
.label:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(251, 141, 0);
}

.label:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.label:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.label:hover:before,
.label:hover:after,
.label:focus:before,
.label:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.label:hover:before,
.label:focus:before {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.label:hover:after,
.label:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

// set max font-size on widhts over 1000px
@media all and (min-width: 800px) {
  .label {
    font-size: 14px;
  }
}
