/* Coolors Exported Palette - coolors.co/dd614a-ff9800-a8c686-669bbc-88958d */


/* RGB */
$color1: rgba(221, 97, 74, 1);
$color2: rgba(255, 152, 0, 1);
$color3: rgba(168, 198, 134, 1);
$color4: rgba(102, 155, 188, 1);
$color5: rgba(136, 149, 141, 1);

.color1 {
  background-color: $color1;
}
.color2 {
  background-color: $color2;
}
.color3 {
  background-color: $color3;
}
.color4 {
  background-color: $color4;
}
.color5 {
  background-color: $color5;
}
